!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -# What is this ????
    -#%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    -#%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title TestBlog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "trix.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "trix.js", :type => "text/javascript"}
  %body
    .container-fluid
      = yield
